<%= simple_form_for(@list) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Create a list', class:'btn btn-primary' %>
  </div>
<% end %>
